@using MyBlog.Entity.DTO.ContactDTO
@using MyBlog.Entity.Result
@model UIResponse<List<ContactGetDTO>>
@{
    ViewData["Title"] = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="bg-secondary rounded h-100 p-4">
    <h6 class="mb-4">Gelen Mesajlar</h6>
    <!-- Button trigger modal -->

    <div class="modal fade" id="staticBackdropUpdate" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog ">
            <div class="modal-content">
                <div class="modal-header bg-secondary">
                    <h1 class="modal-title fs-5" id="staticBackdropLabel"></h1>
                    <button type="button" class="btn btn-outline-success" data-bs-dismiss="modal" aria-label="Close">X</button>
                </div>
                <div class=" bg-secondary modal-body">
                    <div class="form-floating mb-3 ">
                        <input autocomplete="off" name="Name" type="text" class="form-control" id="Name" placeholder="İsim" style="background:black;" readonly>
                        <label for="floatingInput">İsim</label>
                    </div>
                    <div class="form-floating mb-3 ">
                        <input autocomplete="off" name="Mail" type="text" class="form-control" id="Mail" placeholder="Mail" style="background:black;" readonly>
                        <label for="floatingInput">Mail</label>
                    </div>
                    <div class="form-floating mb-3 ">
                        <input autocomplete="off" name="Subject" type="text" class="form-control" id="Subject" placeholder="Subject" style="background:black;" readonly>
                        <label for="floatingInput">Konu</label>
                    </div>
                    <div class="form-floating mb-3">
                        <textarea autocomplete="off" name="Message" class="form-control" placeholder="Proje Açıklaması" id="Message" readonly style="height: 150px; background:black;"></textarea>
                        <label for="floatingTextarea">Açıklama</label>
                    </div>
                </div>
                <div class="modal-footer bg-secondary">
                    <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">İptal</button>
                </div>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th class=" col-md-3">İsim</th>
                <th class="col-md-5 p-3">Mail</th>
                <th class="col-md-5 p-3">Konu</th>

                <th class="col-md-4"></th>
            </tr>
        </thead>
        <tbody>
            <!-- Update Modal-->
            @if (Model.Data == null)
            {

            }
            else
            {
                foreach (var item in Model.Data)
                {
                    <tr>
                        <td class="p-2">@item.Name</td>
                        <td class="p-2">@item.Mail</td>
                        <td class="p-2">@item.Subject</td>


                        <td class="d-flex justify-content-end">
                            <button type="button" class="btn btn-outline-info m-2" data-bs-toggle="modal" id="guncelle" onclick="Update('@item.Id','@item.Name','@item.Mail','@item.Subject','@item.Message')">Detay</button>
                            <button type="button" id="delete" onclick="confirmDelete(@item.Id)" class="btn btn-outline-danger m-2">Sil</button>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>

</div>

<script src="~/js/contact.js" asp-append-version="true"></script>
